@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;

<h3>Here are all the animals in this category:</h3>

<ol>
@foreach (Animal animal in @Model["animals"])
{
  <li><a href='/categories/@Model["category"].Id/animals/@animal.AnimalId'>@animal.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].Id/animals/new'>Add a new animal</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>